.u-section-1 .u-sheet-1 {
  min-height: 400px;
}

.u-section-1 .u-text-1 {
  margin: 9px auto 0 11px;
}

.u-section-1 .u-image-1 {
  width: 463px;
  height: 331px;
  margin: -33px 16px 0 auto;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: -270px 545px 60px 73px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    margin-right: 418px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    margin-right: 198px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-2 {
    font-size: 1rem;
    margin-right: 18px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 312px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 243px;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: -182px;
    margin-right: 0;
  }
}