 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/E7pk937WQAUHUgM.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 444px;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  margin: 36px 32px 0 483px;
}

.u-section-1 .u-text-2 {
  font-size: 1.875rem;
  font-style: italic;
  margin: 71px 119px 60px 570px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 366px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 314px;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 19px;
    margin-left: 470px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 280px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 94px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 269px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 210px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 89px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 132px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 325px;
}

.u-section-2 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 1px auto 0 47px;
}

.u-section-2 .u-image-1 {
  width: 302px;
  height: 226px;
  margin: 29px auto 0 91px;
}

.u-section-2 .u-text-2 {
  font-size: 1rem;
  margin: -189px 60px 58px 453px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-2 {
    margin-right: 0;
    margin-left: 313px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-2 {
    margin-left: 93px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    font-size: 1rem;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-image-1 {
    margin-left: 38px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 734px;
}

.u-section-3 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 11px auto 0;
}

.u-section-3 .u-slider-1 {
  min-height: 543px;
  width: 804px;
  height: auto;
  margin: 0 auto 60px;
}

.u-section-3 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-3 .u-carousel-item-1 {
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 28px 80px;
}

.u-section-3 .u-image-1 {
  height: 260px;
  --radius: 10px;
  margin: 0;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 11px auto 0;
}

.u-section-3 .u-text-3 {
  font-size: 0.875rem;
  margin: 11px 0 0;
}

.u-section-3 .u-btn-1 {
  --radius: 6px;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 11px auto 0;
  padding: 8px 33px;
}

.u-section-3 .u-carousel-item-2 {
  background-image: none;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 80px;
}

.u-section-3 .u-image-2 {
  height: 263px;
  --radius: 10px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-4 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 11px 0 0;
}

.u-section-3 .u-text-5 {
  font-size: 0.875rem;
  margin: 11px 0 0;
}

.u-section-3 .u-carousel-item-3 {
  background-image: none;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 80px;
}

.u-section-3 .u-image-3 {
  height: 257px;
  --radius: 10px;
  margin: 0 auto;
}

.u-section-3 .u-text-6 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 11px 0 0;
}

.u-section-3 .u-text-7 {
  font-size: 0.875rem;
  margin: 11px 0 0;
}

.u-section-3 .u-carousel-control-1 {
  width: 43px;
  height: 43px;
  background-image: none;
  left: 2px;
  position: absolute;
  right: auto;
}

.u-section-3 .u-carousel-control-2 {
  width: 43px;
  height: 43px;
  background-image: none;
  left: auto;
  position: absolute;
  right: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-image-1 {
    background-position: 50% 50%;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-3 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-slider-1 {
    width: 720px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 65px;
    padding-right: 65px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 65px;
    padding-right: 65px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    font-size: 1rem;
  }

  .u-section-3 .u-slider-1 {
    min-height: 533px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-slider-1 {
    min-height: 559px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}