 .u-section-1 {
  min-height: 318px;
}

.u-section-1 .u-sheet-1 {
  min-height: 360px;
}

.u-section-1 .u-layout-wrap-1 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 13px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 347px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 40px 0;
}

.u-section-1 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 0;
}

.u-section-1 .u-icon-1 {
  height: 75px;
  width: 75px;
  background-image: none;
  margin: 20px auto 0;
  padding: 17px;
}

.u-section-1 .u-text-2 {
  font-style: italic;
  font-size: 1rem;
  margin: 22px 20px 0;
}

.u-section-1 .u-image-1 {
  min-height: 347px;
  background-image: url("images/teaching.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 89px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 286px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    min-height: 286px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 66px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-image-1 {
    min-height: 219px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-1 .u-image-1 {
    min-height: 329px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    min-height: 207px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 433px;
}

.u-section-2 .u-text-1 {
  margin: 0;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 73px;
  margin-bottom: -641px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 568px;
}

.u-section-2 .u-container-layout-1 {
  padding: 16px 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.5rem;
  margin: 20px 8px 0;
}

.u-section-2 .u-image-1 {
  height: 382px;
  margin-top: 44px;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 330px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 11px;
}

.u-section-2 .u-text-3 {
  font-size: 1.5rem;
  text-transform: none;
  letter-spacing: normal;
  margin: 0;
}

.u-section-2 .u-text-4 {
  font-size: 1rem;
  margin: 10px 22px 0 14px;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 238px;
}

.u-section-2 .u-container-layout-3 {
  padding: 10px 0 0;
}

.u-section-2 .u-text-5 {
  font-size: 1.5rem;
  text-transform: none;
  letter-spacing: normal;
  margin: 10px 25px 0;
}

.u-section-2 .u-text-6 {
  font-size: 1rem;
  margin: 20px 75px 0 45px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 333px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 468px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-1 {
    height: 315px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 272px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 196px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-6 {
    margin-right: 20px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 165px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-image-1 {
    height: 483px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-image-1 {
    height: 362px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-image-1 {
    height: 228px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 661px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 20px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 561px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 390px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 914px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  font-size: 1.875rem;
  width: 480px;
  margin: 17px auto 0;
}

.u-section-4 .u-accordion-1 {
  width: 800px;
  margin: 17px auto 0;
}

.u-section-4 .u-accordion-link-1 {
  background-image: none;
  font-size: 1.25rem;
  text-transform: none;
  font-weight: 700;
  font-style: italic;
  padding: 30px;
}

.u-section-4 .u-accordion-pane-1 {
  min-height: 410px;
  background-image: none;
  height: auto;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  font-size: 1rem;
  margin: 0;
}

.u-section-4 .u-text-3 {
  line-height: 1.8;
  font-size: 1rem;
  margin: 8px 0 0;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-btn-5 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-accordion-link-2 {
  background-image: none;
  font-size: 1.25rem;
  text-transform: none;
  font-weight: 700;
  font-style: italic;
  padding: 30px;
}

.u-section-4 .u-accordion-pane-2 {
  min-height: 410px;
  background-image: none;
  height: auto;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-4 .u-text-4 {
  font-weight: 700;
  font-style: italic;
  font-size: 1rem;
  margin: 0 30px;
}

.u-section-4 .u-text-5 {
  font-size: 1rem;
  margin: 20px 30px 0;
}

.u-section-4 .u-text-6 {
  margin: 28px 30px 0;
}

.u-section-4 .u-btn-6 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-btn-7 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-btn-8 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-btn-9 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-btn-10 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-text-7 {
  font-weight: 700;
  font-size: 1rem;
  margin: 12px 30px 0;
}

.u-section-4 .u-text-8 {
  margin: 0 574px 0 49px;
}

.u-section-4 .u-btn-11 {
  background-image: none;
  margin-top: 0;
  font-size: 1rem;
  padding: 0;
}

@media (max-width: 991px) {
  .u-section-4 .u-accordion-1 {
    width: 720px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-8 {
    margin-left: 9px;
    margin-right: 534px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-accordion-1 {
    width: 540px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-text-8 {
    margin-left: 0;
    margin-right: 363px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    width: 340px;
  }

  .u-section-4 .u-accordion-1 {
    width: 340px;
  }

  .u-section-4 .u-text-8 {
    margin-right: 163px;
  }
}